*{
    margin: 0;
}

body {
    background-color: #dddde2;
}

header {
    background: #426f81;
    color: white;
    padding: 23px 15px;
    text-align: center;
}

header h1 {
    margin: 0;
}

header a {
    color: white;
    font-size: large;
}


form {
    background: white;
    margin: 40px auto;
    padding: 20px;
    max-width: 760px;
    padding: 20px;
}

form label {
    font-weight: bold;
}

form input {
    width: 100%;
    padding: 9px;
    margin-bottom: 24px;
    border: 1px solid gray;
}
form button {
    background-color: green;
}

table {
    width: 90%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: white;
}
table th,
table td {
    padding: 10px;
    text-align: center;
    border: 1px solid black;
}
table th {
    background: #426f81;
    color: white;
}
button {
    background: #f44336;
    color: white;
}